label.cameraButton, label.uploadButton {
  display: inline-block;
  margin: 1em 0;

  /* Styles to make it look like a button */
  padding: 0.5em;
  /* border: 2px solid #666; */
  border-radius: 8px;
  border-color: #EEE #CCC #CCC #EEE;
  background-color :  #DDD;/*#0073b7 !important;*/
  /* color:white; */
}

label.cameraButton:after {
  content: " \f030";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size:18px;
}

label.uploadButton:after {
  content: " \f0ee";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size:18px;
}

/* This is the part that actually hides the 'Choose file' text box for camera inputs */
label.cameraButton input, label.uploadButton input[accept*="camera"] {
  display: none;
}

.btn.btn-primary[disabled] {
  background-color: #888888;
  border: 0 none;
}


.img-responsive {
  margin:0 auto;
  
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}